@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "kobe11-regular";
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000f22;
  max-width: 100vw;
  overflow-x: hidden;
}

.row {
  width: 100%;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

section {
  max-width: 1280px;
  margin: 0 auto;
}

li {
  list-style-type: none;
  padding-left: 24px;
}

h1 {
  font-size: 48px;
  text-align: left;
}

h2 {
  font-size: 24px;
}

p {
  color: rgba(36, 62, 99, var(--tw-text-opacity));
}

.text__blue {
  color: #5553ec;
}

body {
  padding: 2rem;
}

/* NAV

*/

body {
  max-width: 100vw;
  overflow-x: hidden;
}

#landing {
  min-height: 100vh;
  padding: 32px;
  overflow: hidden;
  max-width: 1280px;
  margin: 0 auto;
}

.nav__container {
  width: 100%;
  display: flex;
  max-width: 1280px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  z-index: 1000;

}

.nav__logo--img {
  width: 160px;
  padding-right: 12px;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.logo__title {
  font-weight: bold;
}

.nav__link {
  color: black;
  font-size: 24px;
  text-decoration: none;
  padding-left: 16px;
  font-weight: bold;
  z-index: 1000;
}

.nav__links {
  display: flex;
  align-items: center;
  font-size: 14px;
  z-index: 1000;

}

.btn {
  background-color: #f73c57;
  color: white;
  padding: 12px 40px;
  font-size: 14px;
  border-radius: 50px;
  border: none;
  max-width: 200px;
  cursor: pointer;
  transition: all 300ms ease;
}

.btn:hover {
  opacity: 0.85;
}

.nav__link--login {
  font-size: 14px;
  margin: 0 24px 0 48px;
  text-decoration: none;
  padding: 0 0 4px;
  font-weight: bold;
}

.triangle {
  height: 0;
  width: 0;
  border-left: 2270px solid  white;
  border-bottom: 101px solid transparent;
  border-top: 3380px solid transparent;
  position: absolute;
  margin-top: -800px;
  transform: rotate(180deg);
  z-index: -9000;
}


body,
html {
  height: 100%;
}

/* LANDING */

header {
  padding: 96px 0;
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 150px;

}
.header__container {
  display: flex;
  justify-content: center;
}

.header__description {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
  padding-top: 38px;
}

.header__description--title {
  color: white;
  text-align: left;
  font-size: 56px;
}

.header__description--para {
  text-align: left;
  font-size: 24px;
  line-height: 1.5;
  color: white;
}

.header__img {
  width: 50%;
}

.header__img--pic {
  width: 100%;
  z-index: -1000;
}

@media (min-width: 1200px) {
  .header__img--pic {
    width: 55%;
    position: absolute;
    transform: translate(-30px, -300px);
  }
}

.header__btn {
  text-align: left;
  display: flex;
  position: relative;
  margin: 28px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.header__input {
  background-color: aliceblue;
  padding: 12px 40px;
  font-size: 20px;
  border-radius: 999px;
  width: 60%;
  text-align: center;
  border: #5553ec;
  border-width: 1px;
}

.header__btn--pos {
  margin-top: 12px;
  max-width: 200px;
  height: 50px;
  max-width: 200px;
  align-items: center;
}

.header__footer {
  opacity: 0.5;
  margin-top: 5rem;
}

.header__footer--h3 {
  opacity: 0.7;
}

.adv__img {
  width: 400px;
  margin-top: 18px;
}

/* SERVICIOS */

.linea {
    min-width: 13000px;
    height: 8px;
    margin: 0 auto;
    background-color: #f73c57;
    border: 0 none;
    margin-top: 100px;
    margin-bottom: 100px;
    transform: translate(-1000px, 0px);
    
}

.box {
    padding: 10px; 
    border: 2px solid #000f22;
    background-color: #000f22;
    position: absolute;
    transform: translate(-10px, -20px);
    z-index: 10000;
    
}

.titulo__servicios {
    color: #9098BE;
    font-size: 80px;
    position: absolute;
    transform: translate(0px, -30px);
    position: relative;
    z-index: 10000;
    
}

.subtitulo__servicios {
    color: white;
    margin-top: 120px;
    margin-left: 48px;
    margin-bottom: 48px;
}

.lista__servicios {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
}

.highlight__text{
    width: calc(100% / 3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    

}

.highlight__subtitle {
    font-size: 24px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 64px;
    text-align: left;
    color: white;
    
    
}

/*

MARCAS

*/
#marcas {
    /* background-color: #000f22; */
    margin-top: 180px;
    
}

.box__marcas {
  background-color: aliceblue;
}

.titulo__marcas {
    background-color: #000f22;
    color: #9098BE;
    font-size: 80px;
    position: absolute;
    transform: translate(900px, -50px);
    position: relative;
    padding: 10px; 
    border: 2px solid #000f22;
    position: absolute;
    z-index: 10000;

}

.marcas__subtitulo {
  color: white;
  margin-bottom: 64px;
}

.marcas__img {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
}

.clientes {
    padding: 24px 24px;
    width: calc(100% / 3);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.clientes__img {
  width: 300px;
}

/* 

FOOTER

*/

footer {
  margin-top: 230px;
}

.footer__container {
  background-color: #000f22;
  z-index: 100;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  z-index: 100;


}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

}

.footer__logo--img {
  width: 80px;
  margin-right: 12px;
  z-index: 100;


}

.logo__title--footer {
  color: white;
  z-index: 100;

}

.footer__copyright {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  display: flex;
  align-items: center;
  color: rgba(203,213,224,var(--tw-text-opacity));
  z-index: 100;

}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

}

#i_link{ 
  transition: all 300ms ease;
  color: black;
  z-index: 100;


}

.footer__img:hover {
  color: #f73c57;
}

#i_link:hover  {
  opacity: 0.85;
  color: rgb(2, 2, 3);
}

.footer__img {
  border: 0 solid #000f22;
  border-width: 1px;
  background-color: white;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  font-size: 16px;
  margin-right: 16px;

}

/* 

EQUIPO

*/

.container__equipo {
  background-image: url("./assests/team.png");
  background-repeat: no-repeat;
  background-size: 1800px;
  background-position: 40px, 100px;
  margin-bottom: 64px;
  height: 900px;
  position: relative;
  z-index: 0;

}


li {
  color: white;
  font-size: 48px;
  padding-top: 12px;
}

span {
  color: #f73c57;
  font-size: 80px;
}


.triangle__equipo {
  height: 0;
  width: 0;
  border-left: 1270px solid  #000f22;
  border-bottom: 0px solid transparent;
  border-top: 1287px solid transparent;
  position: absolute;
  transform: rotate(90deg);
  z-index: -1000;
}

@media (max-width: 580px) {
  .header__description--title {
    font-size: 36px;
    align-items: center;
    text-align: center;
  }

  .header__description--para {
    font-size: 20px;
    margin-top: 24px;
    text-align: center;
  }
  .header__img--pic {
    display: none;
  }

  .header__description {
    width: 100%;
    align-items: center;
  }

  .header__img {
    width: 0%;
  }

  .titulo__servicios {
    font-size: 48px;
    transform: translate(0px, -15px);

  }

  .subtitulo__servicios {
    font-size: 36px;
    margin: 0;
    text-align: center;
    margin-bottom: 36px;
  }

  .highlight__text{
    width: calc(100% / 2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    

  }

  .highlight__subtitle {
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 64px;
    text-align: left;
    color: white;
  
  }

  .titulo__marcas {
    font-size: 48px;
    transform: translate(0px, -35px);

  }

  .marcas__subtitulo {
    font-size: 36px;
    text-align: center;
  }

  .clientes {
    padding: 24px 24px;
    width: calc(100% / 2);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .clientes__img {
    width: 140px;
  }

  li {
    font-size: 24px;
  }
  
  span {
    font-size: 40px;
    padding-right: 12px;
  }

  .triangle__equipo {
    display: none;
  }

  .container__equipo {
    background: none;
    height: auto;
    margin: 0;
  }

  /* .footer__container {
    background-color: #9098BE;
  } */

  .footer__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;

  }

  .footer__copyright {
      margin: 24px 0;
  }

  .footer__img {
      width: 32px;
      height: 32px;
  }
  .footer__links {
    margin-bottom: 48px;
  }

  .nav__logo--img {
    width: 130px;
  }

  /* .nav__links {
    position: fixed;
    inset: 0 0 0 10%;
    background: white;
    opacity: 0.1;
  } */

  .nav__link--chara, .nav__link {
    font-size: 16px;
    color: white;
    /* padding: 24px; */
  }

  .nav__links {
    display: flex;
    flex-direction: column;
  }

  .header__btn--pos {
    font-size: 22px;
    margin-top: 24px;
  }


}